<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <style>
        .header {
            background-color: #f7f7f7;
        }            

        .header-content {
            padding: 20px 0;
        }

        .logo {
            font-size: 22px;
            font-weight: bold;
        }

        .nav-link {
            color: #000;
        }

        a { color:black; text-decoration: none; }
    </style>

    {% block customstyle %}
    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container-fluid">
            <div class="header-content d-flex">
                <div class="col-3">
                    <nav>
                        <form class="d-flex" action="{% url 'search' %}" method="get">
                            <input class="form-control me-2" name="s" placeholder="Campaign name or descritpion" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                    </nav>
                </div>
                <div class="col-6 logo d-flex justify-content-center"> 
                    <a href="{% url 'landing-page' %}"> RealWebsite </a>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <nav>
                        <ul class="nav">
                            {% if request.user.is_authenticated is not True %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sign-up' %}">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'create-campaign' %}">Create a campaign</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="bg-light py-3 text-center">
        <p>&copy; RealWebsite </p>
    </footer>
</body>
</html>

